.backButtonContainer {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: start;
    background: linear-gradient(90deg, #2e2e38, #ffffff00 89%);
    padding: 0 60px;
    top: 80px;
    position: fixed;
    z-index: 1000;
}
.backButton {
    font-family: "gff-latin-bold" !important;
    font-size: 28px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.backButton:hover {
    cursor: pointer;
    color: #c9c9c9;
    transition: 0.3s;
}
