nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    padding: 0;
}

nav ul li {
    padding: 0.5rem 1rem;
}

nav ul li a {
    text-decoration: none;
    /* color: #fff8f2; */
    

}

nav ul li.active a {
    position: relative; /* Required for positioning the pseudo-element */
    background: linear-gradient(180deg, #ff7e5f, #feb47b); /* Define your gradient */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /* For Firefox */
    background-clip: text;
    color: transparent;
}

nav ul li.active a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px; /* Adjust the position of the border */
    width: 100%;
    height: 3px; /* Border thickness */
    border-radius: 5px; /* Rounded corners */
    background: linear-gradient(180deg, #ff7e5f, #feb47b); /* Gradient for the border */
}

.header{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  align-items: center;
  background-color: #050509;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

}
.logoImg{
  height: 180px;
}
.logoDiv{
  overflow: hidden;
  background: url('../images/Logo.png');
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 100px;
  border-right: 1px solid rgba(255, 255, 255, 0.2);

}