.tournamentDetailsContentContainer{
    width: 100%;
    height: auto;
    padding: 30px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding-top: 80px;
}
.tournamentDetailsContent{
    width: 80%;
    padding: 20px;
}
.tDataAndPricesDiv{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    min-height: 300px
}
.tournamentDetailsInTDC{
    width: 60%;
    height: 100%;   
    border: 1px solid red;
    padding: 20px 0;
}

.nameAndFrequencyDiv h2, .nameAndFrequencyDiv h3{
    font-family: "poppins" !important;
    font-style: italic;
    line-height: 40px;
}
.nameAndFrequencyDiv h3{
    font-size: 24px;
    padding-left: 10px;
    background: linear-gradient(180deg, #ffcf54, #e7983f);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

}
.nameAndFrequencyDiv h2{
    font-size: 48px;
    background: linear-gradient(180deg, #ffcf54, #e7983f);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

}
.tagsDiv{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;  
    padding: 10px 0;
}
.tag{
    border: 2px solid #b200ff;
    width: max-content;
    padding: 5px 10px;
    border-radius: 5px;

    background: linear-gradient(180deg, #a202ff3a, #ff62ff30);
    
}
.tag p{
    background: linear-gradient(180deg, #a202ff, #ff62ff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 1 !important;
    font-size: 14px;
}